[alias]
	co = checkout
	ca = commit -a
	ds = diff --stat
	up = remote update
	commit-stat = !git log --pretty=format:"%an" | sort | uniq -c
	upstream = "!f(){ git rev-parse --symbolic-full-name --abbrev-ref $1@{u} 2>/dev/null; }; f"
	cleanup = "!f(){ UPSTREAM=$(git upstream $1) && git push $(echo $UPSTREAM | sed 's/\\// :/'); git branch -D $1; }; f"
	whereis = branch --all --contains
	search = log -S
	dag = log --oneline --decorate --graph --topo-order
	dagstat = !git dag --stat
	me = !git log --author=`git config user.email`
	changes = "!f(){ REF=${1:-HEAD}; git diff $REF^ $REF; }; f"
	amend = !git commit --amend
	purge = "!f(){ for branch in "$@"; do git branch -d $branch; git push origin :$branch; done; }; f"

[color]
	ui = true

[user]
	name = Joe Einertson
	email = jeinerts@umm

[diff]
	tool = vimdiff
	guitool = gvimdiff

[merge]
	tool = kdiff3
	renameLimit = 4096

[credential]
	helper = cache --timeout=1000000

[log]
	# Display all timestamps in the local timezone
	date = local

[core]
	editor = vim
	autocrlf = false

[push]
	default = current
